<md-dialog aria-label="Manage Student" style="width: 600px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Manage Student</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-svg-src="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-list>
                <md-list-item ng-repeat="mark in marks" ng-click="addMark(mark.id, $event)">
                    <md-icon alt="{{ mark.name }}" md-svg-icon="content:ic_add_circle_24px"></md-icon>
                    <p>{{ mark.name }} <span>( {{historicalMarks[mark.id].mark_count }} )</span></p>
                    <md-icon
                            md-svg-icon="content:ic_remove_circle_24px" ng-click="removeMark(person.id, $event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
    <div class="md-actions">
        <md-button aria-label="Remove" ng-click="ctrl.removeFromSeat($event,studentId)">Remove From Seat</md-button>
        <md-button aria-label="Finished" ng-click="ctrl.confirm($event)">Finished</md-button>
    </div>
</md-dialog>